@import url("non.geist");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Variable";
}

.appearance-textfield {
  appearance: textfield;
  -moz-appearance: textfield;
}
