@import url("non.geist");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Variable";
}

.appearance-textfield {
  appearance: textfield;
  -moz-appearance: textfield;
}
.appearance-textfield:hover {
  appearance: textfield;
}

.animate-height {
  animation: animate-height 0.3s ease-in-out forwards;
}

@keyframes animate-height {
  0% {
    padding: 0 1.25rem;
    max-height: 0;
  }
  100% {
    padding: 1.25rem;
    max-height: 100vh;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

/** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
  @apply text-white text-sm uppercase font-medium flex items-center;
}
.swipeable-list-item__leading-actions {
  @apply bg-blue-700;
}
.swipeable-list-item__trailing-actions {
  @apply bg-pink-700;
}
.swipeable-list .swipe-action {
  @apply flex flex-col items-center;
}

.expense-detail-gradient {
  background-image: linear-gradient(
    to right,
    rgb(29 78 216) 1%,
    #fafafa 1%,
    #fafafa 99%,
    rgb(190 24 93) 99%
  );
}
.dark .expense-detail-gradient {
  background-image: linear-gradient(
    to right,
    rgb(29 78 216) 1%,
    #09090b 1%,
    #09090b 99%,
    rgb(190 24 93) 99%
  );
}

/* Expenses Progress Bar */
.progress-bar::before,
.progress-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.progress-bar::before {
  height: 95%;
  width: 95%;
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.dark .progress-bar::before {
  background-color: #09090b;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
